<div id="<%= dom_id group %>">
  <%# <p>
    <strong></strong>
    <%= group.name %>
  <%# </p>

  <p>
    <strong></strong>
    <%= group.icon %>
  <%# </p> %> 



  <div class="card mb-3" style="max-width: 1000px;">
  <div class="row g-0">
    <div class="col-md-4 ">
      <img src="<%= group.icon %>" class="img-fluid rounded-start img-thumbnail" style="max-height: 150px;" alt="...">
      
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"></h5>
        <p class="card-text operation3"><%= group.name %></p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
  </div>

</div>