<p style="color: green"><%= notice %></p>
<li><%= link_to 'Sign out', destroy_user_session_path, :method => :delete, class: "btn btn-primary" %></li>

<h1 class="text-center text-primary">Categories</h1>

<div id="groups">
  <% @groups.each do |group| %>
    <%= render group %>
    <h2>
      <%= link_to "view category", operations_path, class: "btn btn-primary" %>
    </h2>
  <% end %>
</div>
<div class="addcat d-flex flex-column justify-content-around ">
  <%= link_to "Add New Category", new_group_path, class: " btn border pb-10" %>
</div>
