<p style="color: green"><%= notice %></p>

<%= render @group %>

<div>
  <%= link_to "Edit this group", edit_group_path(@group) %> |
  <%= link_to "Back to transactionss", groups_path, class: "btn btn-primary" %>

  <%= button_to "Destroy this group", @group, method: :delete %>
</div>
