<p style="color: green"><%= notice %></p>

<div class="text-end">
  <%= link_to "Create New Transaction", new_operation_path, class: "btn btn-primary" %>
</div>
<div class="col-3"> <img src="https://static.vecteezy.com/system/resources/previews/002/640/730/non_2x/default-avatar-placeholder-profile-icon-male-vector.jpg" alt="group icon" class="group-icon mr-3"></div>

<h1>Transactions</h1>

<div id="operations">
  <% @operations.each do |operation| %>
    <%= render operation %>
    <p>
      <%= link_to "View Details", operation, class: "btn btn-secondary" %>
    </p>
  <% end %>
</div>
<div class="operation_goback"> <%= link_to "Back to categories", groups_path, class: "btn btn-primary" %></div>
