<p style="color: green"><%= notice %></p>

<div class="text-end">
  <%= link_to "Create New Transaction", new_operation_path, class: "btn btn-primary" %>
</div>

<h1>Transactions</h1>

<div id="operations">
  <% @operations.each do |operation| %>
    <%= render operation %>
    <p>
      <%= link_to "View Details", operation, class: "btn btn-secondary" %>
    </p>
  <% end %>
</div>
<div class="operation_goback"> <%= link_to "Back to categories", groups_path, class: "btn btn-primary" %></div>
