<p style="color: green"><%= notice %></p>

<%= render @operation %>

<div>
  <%= link_to "Edit this Transaction", edit_operation_path(@operation) %> |
  <%= link_to "Back to Transaction", operations_path %>

  <%= button_to "Destroy this Transaction", @operation, method: :delete %>
</div>
